version: "3.8"

services:
  elysia-api:
    build: .
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - DB_PATH=/app/data/expense-tracker.db
    volumes:
      - app_data:/app/data
      - ./drizzle:/app/drizzle:ro
      - ./.env:/app/.env:ro
    labels:
      caddy: api-expense-tracker.pucukpisang.my.id
      caddy.reverse_proxy: "{{upstreams 3000}}"
      caddy.encode: gzip
    networks:
      - web

  caddy:
    image: lucaslorentz/caddy-docker-proxy:2.8
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - CADDY_INGRESS_NETWORKS=web
    networks:
      - web

volumes:
  app_data:

networks:
  web:
    driver: bridge
    name: caddy_web
