services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: cLOD0hWMsMJeeCH
      POSTGRES_INITDB_ARGS: "--encoding=UTF8 --locale=en_US.UTF-8"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./scripts/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh:ro,exec
    ports:
      - "5432:5432"
    networks:
      - app_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  elysia-api:
    build:
      context: .
      dockerfile: local.Dockerfile
    restart: unless-stopped
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://elysia_api:cLOD0hWMsMJeeCH@postgres:5432/expense_tracker
      - LOG_LEVEL=debug
      - JWT_SECRET=07b72d2a78bd6a92f1a4cb04d3b65120
      - PORT=3001
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "3001:3001"
    networks:
      - app_network
    volumes:
      - .:/app
      - /app/node_modules
    command: bun run src/index.ts

volumes:
  postgres_data:
    driver: local

networks:
  app_network:
    name: app_network
    driver: bridge
